@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* font-family: 'Poppins', sans-serif; */

body {
    font-family: "Poppins", sans-serif;
}

.navbarBranding {
    font-size: 25px;
    text-decoration: none;
    font-weight: 800;
    color: #ec255a;
}

.navbarBranding:hover {
    color: seagreen;
}

#homeStatistikIndonesiaUpdate {
    padding-top: 1.2rem;
}

.homeStatistikIndonesiaUpdate-Judul {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.cardSizing{
    margin-left: 5em;
    margin-right: 5em;
}

#navbarLocation {
    height: 88px;
    width: 100vw;
    background-color: rgb(207, 207, 207);
}

.formNavbarLocation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 88px;
    margin: auto;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: white;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
    height: 45px;
    text-align: center;
    padding-top: 10px;
}

.radio-toolbar label i {
    display: none;
}

.radio-toolbar label:hover {
    background-color: #e9e3e3;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #ddd;
    border: 2px solid #444;
}

.radio-toolbar input[type="radio"]:checked + label > i {
    display: inline-block;
}

.selectOption {
    width: 200px;
    height: 45px;
    border-radius: 4px;
    margin-right: 10px;
}

.card{
    width: auto;
    margin: 5em 5em;
    float: none;
}

.card-text .bed{
    margin-left: 1.23em;
}

.card-text .info{
    margin-left: 2.15em;
}

@media only screen and (max-width: 600px) {
    .cardSizing{
        margin-left: 0.75em;
        margin-right: 0.75em;
    }

    .card {
        width: 15em;
        margin: 2em auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
}